<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fonts.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/boids.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/utils.css') }}">
        <script src="{{ url_for('static', filename='js/interactive.js') }}"></script>
    </head>
	<body>
		<div>
			<div id="menu-toggle">
				<svg class="" id="hamburger" viewBox="0 0 100 80" width="50" height="50">
					<rect y="14" width="100" height="8" rx="4"></rect>
					<rect y="36" width="100" height="8" rx="4"></rect>
					<rect y="58" width="100" height="8" rx="4"></rect>
				</svg>
				<svg class="removed" id="cross" viewBox="0 0 80 80" width="50" height="50">
					<rect x="0" y="36" width="80" height="8" rx="4", transform="rotate(-45, 40, 40)"></rect>
					<rect x="0" y="36" width="80" height="8" rx="4", transform="rotate(45, 40, 40)"></rect>
				</svg>
			</div>
			<div id="canvas-container">
				<canvas id="canvas"></canvas>
			</div>
			<div id="sliders" class="hidden">
				<table>
					<tr>
						<td style="font-weight: bold;">Number of Boids</td>
					</tr>
					<tr>
						<td class="slider">
							<input type="range" class="range-input" id="boid-number" 
								min="0" max="500" value="200" step="10"
								oninput="add_remove_boids(this.value)">
						</td>
					</tr>
					{% for behaviour in ["separation", "cohesion", "alignment"] %}
					<tr>
						<td style="padding: 1em 0 0 0; font-weight: bold;">{{ behaviour.title() }}</td>
					</tr>
					<tr>
						<td style="padding: 0 0em;">Weight</td>
					</tr>
					<tr>
						<td class="slider">
							<input type="range" class="range-input" id="{{ behaviour }}-weight" 
								min="0" max="2" value="0." step="0.02"
								oninput="slider_input('{{ behaviour }}', 'weight', this.value)">
						</td>
					</tr>
					<tr>
						<td style="padding: 0 0em;">Radius</td>
					</tr>
					<tr>
						<td class="slider">
							<input type="range" class="range-input" id="{{ behaviour }}-radius" 
								min="0" max="0.2" value="0." step="0.002"
								oninput="slider_input('{{ behaviour }}', 'radius', this.value)">
						</td>
					</tr>
					{% endfor %}
					<tr>
						<td style="padding: 1em 0 0 0; font-weight: bold;">Mouse Attraction</td>
					</tr>
					<tr>
						<td class="slider">
							<input type="range" class="range-input" id="mouse-weight" 
								min="0" max="1" value="0" step="0.05"
								oninput="slider_input('mouse', 'weight', this.value)">
						</td>
					</tr>
				</table>
				<div class="clearfix">
					<div class="project-button slider-button" id="reposition">Reposition</div>
					<div class="project-button slider-button" id="reset">Reset</div>
				</div>
			</div>
		</div>
		<div id="info">
			{{ info|safe }}
		</div>
		<a class="h-pointer" href="{{url_for('index')}}" id="initials">OC</a>
		<script src="{{ url_for('.static', filename='javascript/vector2d.js') }}"></script>
		<script src="{{ url_for('.static', filename='javascript/boids.js') }}"></script>
        <script>
			var canvas = document.getElementById('canvas')
			  , ctx = canvas.getContext('2d')
			  , boids = new Boids(200);
			
			var id = setInterval(frame, 15);
			function frame() {
				boids.tick();
				draw_canvas();
			}

			var dpr = window.devicePixelRatio || 1;
            function resize_canvas() {
				// Visually fill parent
				canvas.style.width = "100%";
				canvas.style.height = "100%";
				// set internal size to match.
				canvas.width  = canvas.offsetWidth * dpr;
				canvas.height = canvas.offsetHeight * dpr;
			};
			function onresize() {
				resize_canvas();
				draw_canvas();
			};
			document.body.onresize = onresize;
			onresize();

			
			function draw_canvas() {
                ctx.fillStyle = 'rgba(75, 225, 200, 0.25)';
				ctx.fillRect(0, 0, canvas.width, canvas.height);
				
				ctx.fillStyle = 'rgb(0, 0, 0)';
				let dims = new Vector2D(canvas.width, canvas.height);
				for (let boid of boids.boids) {
					let pos = boid.position.mult(dims)
					ctx.beginPath();
					ctx.arc(pos.x, pos.y, 1, 0, 2 * Math.PI);
					ctx.fill();
				}
			}

			function slider_input(behaviour, parameter, value) {
				console.log(behaviour, parameter, value)
				for (let boid of boids.boids) {
					boid.forces[behaviour][parameter] = value;
				}
			}
			
			function add_remove_boids(value) {
				if (value < 10) value=1; //else potentially no reference boid. TODO: store slider values.
				let reference_boid = boids.boids[0];
				while (value > boids.boids.length) {
					let boid = new Boid();
					boid.forces = Object.assign(boid.forces, reference_boid.forces);
					boids.boids.push(boid);
				}
				while (value < boids.boids.length) {
					boids.boids.pop();
				}
			}
			
			// Slider Initial Values
			function slider_init(id, value, percent=true)  {
				let slider = document.getElementById(id);
				slider.value = value;
				// slider_display(id, value, percent);
			}
			function slider_set_from_boids() {
				let reference_boid = boids.boids[0];
				for (let behaviour of ["separation", "cohesion", "alignment"]) {
					slider_init(`${behaviour}-weight`, reference_boid.forces[behaviour].weight);
					slider_init(`${behaviour}-radius`, reference_boid.forces[behaviour].radius);
				}
				slider_init('mouse-weight', reference_boid.forces["mouse"].weight);
				slider_init('boid-number', boids.boids.length, false);
			}
			slider_set_from_boids();

			function reposition_boids() {
				for (let boid of boids.boids) {
					boid.position = Vector2D.random()
					boid.velocity = Vector2D.zeros()
				}
			}

			function reset_boids(){
				reposition_boids()
				reference_boid = new Boid()
				for (let boid of boids.boids) {
					boid.forces = Object.assign(boid.forces, reference_boid.forces);
				}
				slider_set_from_boids();
			}
		</script>
		<script>
            var menu_toggle = document.getElementById("menu-toggle");
            menu_toggle.addEventListener("click", class_toggle("hamburger", "removed", false));
            menu_toggle.addEventListener("click", class_toggle("cross", "removed", true));
			menu_toggle.addEventListener("click", class_toggle("sliders", "hidden", true));
			menu_toggle.addEventListener("click", class_toggle("canvas-container", "background", false));

			var reposition_button = document.getElementById("reposition");
			reposition_button.addEventListener("click", reposition_boids);
			var reset_button = document.getElementById("reset");
			reset_button.addEventListener("click", reset_boids);
		</script>
    </body>
</html>
