<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/bebas" type="text/css"/> 
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/boids.css') }}">
    </head>
	<body>
		<div class="button" id="info-button"></div>
		<div id="info">
			{{ info|safe }}
		</div>
		<div class="button" id="controls-button"></div>
		<table id="sliders">
			<tr>
				<td>Number of Boids:</td>
				<td class="slider-display" id="boid-number-value">200</td>
				<td class="slider">
					<input type="range" class="range-input" id="boid-number" 
						   min="0" max="500" value="200" step="10"
						   oninput="add_remove_boids(this.value)">
					<div class="slider-ticks">
						<option>0</option>
						<option>250</option>
						<option>500</option>
					</div>
				</td>
			</tr>
			{% for behaviour in ["separation", "cohesion", "alignment"] %}
			<tr>
				<td>{{ behaviour.title() }} Weight:</td>
				<td class="slider-display" id="{{ behaviour }}-weight-value">1.</td>
				<td class="slider">
					<input type="range" class="range-input" id="{{ behaviour }}-weight" 
						   min="-1" max="2" value="1" step="0.05" 
						   oninput="slider_input('{{ behaviour }}', 'weight', this.value)">
					<div class="slider-ticks">
						<option>-1</option>
						<option>0</option>
						<option>1</option>
						<option>2</option>
					</div>
				</td>
			</tr>
			<tr>
				<td>{{ behaviour.title() }} Radius:</td>
				<td class="slider-display" id="{{ behaviour }}-radius-value">0.5</td>
				<td class="slider">
					<input type="range" class="range-input" id="{{ behaviour }}-radius" 
					       min="0" max="1" value="0.5" step="0.01"
						   oninput="slider_input('{{ behaviour }}', 'radius', this.value)">
					<div class="slider-ticks">
						<option>0</option>
						<option>0.5</option>
						<option>1</option>
					</div>
				</td>
			</tr>
			{% endfor %}
			<tr>
				<td>Mouse Attraction:</td>
				<td class="slider-display" id="mouse-weight-value">0.5</td>
				<td class="slider">
					<input type="range" class="range-input" id="mouse-weight" 
						   min="-1" max="2" value="1" step="0.05"
						   oninput="slider_input('mouse', 'weight', this.value)">
					<div class="slider-ticks">
						<option>-1</option>
						<option>0</option>
						<option>1</option>
						<option>2</option>
					</div>
				</td>
			</tr>
		</table>
		<a class="h-pointer" href="{{url_for('index')}}" id="initials">OC</a>
		<script src="{{ url_for('.static', filename='javascript/vector2d.js') }}"></script>
		<script src="{{ url_for('.static', filename='javascript/boids.js') }}"></script>
        <script>
			var canvas = document.createElement('canvas')
			  , ctx = canvas.getContext('2d')
			  , boids = new Boids(200);
			
			document.body.appendChild(canvas);
			
			var id = setInterval(frame, 15);
			function frame() {
				boids.tick();
				draw_canvas();
			}

			function onresize() {
				resize_canvas();
				draw_canvas();
			};
			document.body.onresize = onresize;
			onresize();

            function resize_canvas() {
                canvas.width = window.innerWidth;
                canvas.height = window.innerHeight;
			};
			
			function draw_canvas() {
                ctx.fillStyle = 'rgba(75, 225, 200, 0.25)';
				ctx.fillRect(0, 0, canvas.width, canvas.height);
				
				ctx.fillStyle = 'rgb(0, 0, 0)';
				let dims = new Vector2D(canvas.width, canvas.height);
				for (let boid of boids.boids) {
					let pos = boid.position.mult(dims)
					ctx.fillRect(pos.x, pos.y, 2, 2)
				}
			}
			
			function slider_display(id, value, percent=true) {
				if (percent) {
					value = Math.round(100*value)+"%";
				}
				document.getElementById(`${id}-value`).innerHTML = value;
			}

			function slider_input(behaviour, parameter, value) {
				for (let boid of boids.boids) {
					boid.forces[behaviour][parameter] = value;
				}
				slider_display(`${behaviour}-${parameter}`, value)
			}
			
			function add_remove_boids(value) {
				if (value < 10) value=1; //else potentially no reference boid. TODO: store slider values.
				let reference_boid = boids.boids[0];
				while (value > boids.boids.length) {
					let boid = new Boid();
					boid.forces = Object.assign(boid.forces, reference_boid.forces);
					boids.boids.push(boid);
				}
				while (value < boids.boids.length) {
					boids.boids.pop();
				}
				slider_display("boid-number", value, false)
			}
			
			// Slider Initial Values
			function slider_init(id, value, percent=true)  {
				let slider = document.getElementById(id);
				slider.value = value;
				slider_display(id, value, percent);
			}
			(() => {
				let reference_boid = boids.boids[0];
				for (let behaviour of ["separation", "cohesion", "alignment"]) {
					slider_init(`${behaviour}-weight`, reference_boid.forces[behaviour].weight);
					slider_init(`${behaviour}-radius`, reference_boid.forces[behaviour].radius);
				}
				slider_init('mouse-weight', reference_boid.forces["mouse"].weight);
				slider_init('boid-number', boids.boids.length, false);
			})();
		</script>
		<script>
			
			let class_add_remove = function(element_id, klass, add=true) {
				let element = document.getElementById(element_id);
				let is_active = !add;
				if (add) {
					return () => {
						let classlist = element.classList
						if (is_active) {
							classlist.remove(klass)
						}
						else {
							classlist.add(klass)
						}
						is_active = !is_active;
					}
				}
			}
			
			var info_button = document.getElementById("info-button");
			var controls_button = document.getElementById("controls-button");

			info_button.addEventListener("click", class_add_remove("info", "hidden"));
			info_button.addEventListener("click", class_add_remove("info-button", "hidden"));
			controls_button.addEventListener("click", class_add_remove("sliders", "hidden"));
			controls_button.addEventListener("click", class_add_remove("controls-button", "hidden"));
		</script>
    </body>
</html>
