@import "keyframes.css";

* {
    margin: 0;
    padding: 0;
}

:root {
    --title-font: 'BebasNeueLight', 'Roboto', sans-serif
}

/* -- util -- */
body {
    scroll-behavior: smooth;
}

.center-gradient-rule {
    height: 1px;
    border: 0;
    width: 70%;
    transform: translateX(20%);
    justify-content: center;
    background: radial-gradient(circle at center, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

.title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-family: var(--title-font);
    animation: fade-in ease 2s;
}

.perspective {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 300px;
    transform-style: preserve-3d;
    scroll-behavior: inherit;
}

.slow-scroll {
    height: inherit;
    transform: translateZ(-300px) scale(2);
}

/* -- nav -- */

.nav {
    position: fixed;
    left: 1em;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}
.nav li {
    list-style: none;
    margin: .5em;
    display: block;
}
.nav a, .nav i {
    text-decoration: none;
}

.nav-arrow {
    position: absolute;
    text-decoration: none;
    color: black;
    left: 1em;
    top: 100%;
    padding: 1em 0em;
    transform: translateY(-100%);
    transition: transform 0.5s;
}

.nav-arrow:hover {
    transform: translateY(-100%) scale(1.25);
}

.fa-stack:hover .fa-stack-2x{
    color: white;
}
.fa-stack:hover .fa-stack-1x{
    color: black;
}

/* -- content -- */

#home {
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.section {
    position: relative;
    height: 100vh;
}

#profile {
    background-color: white;
}

#projects {
    background-color: white;
    padding: 0% 5%;
    height: auto;
    min-height: 100vh;
    overflow: hidden; /* establishes new block formatting context, that makes height: auto; work (via float containement, else it sees no children) */
}

.project {
    --x-margin: 0.5%;
    --y-margin: 2vh;
    float: left;
    box-sizing: border-box; /* include padding and border in size, doesn't include margin */
    margin: var(--y-margin) var(--x-margin);
    width: calc(100%/4 - 2*var(--x-margin));
    height: calc(50vh - 2*var(--y-margin));
    font-family: 'Roboto', sans-serif;
}
@media (max-width: 900px) {
    .project {
        width: calc(100%/3 - 2*var(--x-margin));
    }
}
@media (max-width: 550px) {
    .project {
        width: calc(100%/2 - 2*var(--x-margin));
    }
}
@media (max-width: 400px) {
    .project {
        width: calc(100% - 2*var(--x-margin));
    }
}

.project-button { /* see https://codepen.io/seme332/pen/reJOwo */
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}
  
.project-button:hover {
    background-color: rgba(50, 225, 175, 0.75); /* /#2EE59D */
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.project > div {
    border-radius: inherit;
    position: relative;
    height: 100%;
    width: 100%;
}

#contactme {
    height: 20vh;
}

#title-contactme{
    left: 15%;
    top: 50%
}

.contactme-buttons {
    position: absolute;
    display: flex;
    justify-content: space-around;
    left: 40%;
    top: 50%;
    width: 50%;
    transform: translate(0%, -50%);
}

.contactme-button {
    display: inline;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    border: 2px solid transparent;
}

.contactme-button:hover {
    border-bottom: 2px solid black;
}