
:root {
    --title-font: 'BebasNeueLight', 'Roboto', sans-serif
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    overflow-x: hidden;
}

#menu-toggle {
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px;
    width: auto;
    cursor: pointer;
    z-index: 999;
}

#canvas-container {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

#canvas-container.background {
    opacity: 50%;
}

#info {
    position: relative;
    margin: 1em;
    margin: 2vw;
}

@media only screen and (min-width: 768px) {
    /* For Desktop */
    #canvas-container {
        width: 80vw;
        height: 80vh;
        margin: 2vw auto;
    }
    #info {
        width: 50vw;
        text-align: center;
        margin: 0 auto;
    }    
}

.button {
    margin: 0.5em;
    z-index: 999;
}
.button:hover, .h-pointer:hover {
    cursor: pointer;
}

#initials{
    position: absolute;
    left: 0%;
    top: 0%;
    font-size: 100px;
    font-family: var(--title-font);
    text-decoration: none;
    color: black;
    margin: 0 0.2em;
}

#sliders {
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    padding: 0 0.5em;
}
#sliders.hidden {
    visibility: hidden;
}

.range-input {
    -webkit-appearance: none;
    appearance: none;
    height: 2px;
    width: 90vw;
    max-width: 512px;
    background: rgb(200, 200, 200);
    outline: none;
    margin-left: 0;
    margin-right: 0;
}

.range-input:hover {
    opacity: 1;
}

.range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%; 
    background: #f7f7f7;
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.2);
    cursor: pointer;
}

.range-input::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #f7f7f7;
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.2);
    cursor: pointer;
}

.slider-ticks {
    display: flex;
    justify-content: space-between;
}
  
.slider-ticks option {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    /* color: white; */
    font-size: 0.75em;
    width: 0.75em;
    height: 0;
    line-height: 12px;
}

@media only screen and (min-width: 768px) {
    /* For Desktop */
    #sliders {
        top: 40vh;
        transform: translateX(-50%) translateY(-50%);
    }
    .range-input {
        width: 70vw;
    }
}

.project-button { /* see https://codepen.io/seme332/pen/reJOwo */
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

.slider-button {
    float: left;
    width: calc(50% - 1em);
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 0.5em;
}
  
.project-button:hover {
    background-color: rgba(50, 225, 175, 0.75);
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
}