
:root {
    --title-font: 'BebasNeueLight', 'Roboto', sans-serif
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Roboto';
    height: 100vh;
    width: 100vw;
}

#info {
    position: absolute;
    margin: 1em;
    width: 25%;
    height: calc(100vh - 2*1em);
    overflow: auto;
    transition: ease 0.75s;
}

#info.hidden {
    transform: translateX(calc(-100% - 1em));
}

.button {
    margin: 0.5em;
    z-index: 999;
}
.button:hover, .h-pointer:hover {
    cursor: pointer;
}

#initials{
    position: absolute;
    left: 0%;
    bottom: 0%;
    font-size: 100px;
    font-family: var(--title-font);
    text-decoration: none;
    color: black;
    margin: 0 0.2em;
}

#info-button {
    position: absolute;
}
#info-button::before {
    content: "\2190 hide";
}
#info-button.hidden::before {
    content: "show \2192";
}

#controls-button {
    position: absolute;
    right: 0%;
}
#controls-button::before {
    content: "hide \2192";
}
#controls-button.hidden::before {
    content: "\2190 show";
}

#sliders {
    position: absolute;
    right: 0%;
    margin: 1em;
    padding: 0em 0.5em;
    transition: ease .75s;
}
#sliders.hidden {
    transform: translateX(calc(100% + 1.5em));
}

.slider-display {
    font-size: 0.75em;
    padding: 0 1em;
}

.range-input {
    -webkit-appearance: none;
    appearance: none;
    height: 2px;
    background: rgb(200, 200, 200);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-left: 0;
    margin-right: 0;
}

.range-input:hover {
    opacity: 1;
}

.range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%; 
    background: #f7f7f7;
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.2);
    cursor: pointer;
}

.range-input::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #f7f7f7;
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.2);
    cursor: pointer;
}

.slider-ticks {
    display: flex;
    justify-content: space-between;
}
  
.slider-ticks option {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 0.75em;
    width: 0.75em;
    height: 0;
    line-height: 12px;
}